<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="FilesPath" value="Users//" />
    <add key="ProjectsJson" value="'s_projects.json" />
    <add key="UsefulMaterialsJson" value="'s_usefulMaterials.json" />
  </appSettings>
</configuration>
